#subscribeForm {
    visibility: hidden;
}

td a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.colum1 {
    float: left;
    width: 34%;
}

.colum2 {
    border: 1px solid black;
    float: left;
    width: 66%;
}

#maincolum {
    width: 100%;
    display: block;
    word-wrap: break-word;
    overflow: hidden;
}