#subscribeForm {
    visibility: hidden;
}

td a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.colum1 {
    float: left;
}

.colum2 {
    border: 1px solid black;
}